# Email DB

In [1]:
import sqlite3

In [2]:
conn=sqlite3.connect('emaildb.sqlite')
cur=conn.cursor()

In [3]:
cur.execute('''
DROP TABLE IF EXISTS Counts''')

In [4]:
cur.execute('''
CREATE TABLE Counts (email TEXT, count INTEGER)''')

In [5]:
fname=raw_input('Enter file name: ')
if(len(fname)<1): fname='mbox-short.txt'
fh = open(fname)
for line in fh:
    if not line.startswith('From: '): continue
    pieces=line.split()
    email=pieces[1]
    cur.execute('SELECT count FROM Counts WHERE email = ?', (email, ))
    try:
        count = cur.fetchone()[0]
        cur.execute('UPDATE Counts SET count=count+1 WHERE email = ?', (email, ))
    except:
        cur.execute('''INSERT INTO Counts (email, count) VALUES (?,1)''', (email, ))
    conn.commit()
    
sqlstr='SELECT email, count FROM COUNTS ORDER BY count DESC LIMIT 10'
    
for row in cur.execute(sqlstr):
    print str(row[0]), row[1]
    
cur.close()

Enter file name: mbox.txt
zqian@umich.edu 195
mmmay@indiana.edu 161
cwen@iupui.edu 158
chmaurer@iupui.edu 111
aaronz@vt.edu 110
ian@caret.cam.ac.uk 96
jimeng@umich.edu 93
rjlowe@iupui.edu 90
dlhaines@umich.edu 84
david.horwitz@uct.ac.za 67

# Assignment

In [18]:
conn=sqlite3.connect('org.sqlite')
cur=conn.cursor()
cur.execute('''
DROP TABLE IF EXISTS Counts''')
cur.execute('''
CREATE TABLE Counts (org TEXT, count INTEGER)''')

In [19]:
em='haha@hehe'
dom=em.split('@')[1].strip()
print dom

hehe

In [20]:
fname=raw_input('Enter file name: ')
if(len(fname)<1): fname='mbox-short.txt'
fh = open(fname)
for line in fh:
    if not line.startswith('From: '): continue
    pieces=line.split()
    email=pieces[1]
    org=email.split('@')[1].strip()
    cur.execute('SELECT count FROM Counts WHERE org = ?', (org, ))
    try:
        count = cur.fetchone()[0]
        cur.execute('UPDATE Counts SET count=count+1 WHERE org = ?', (org, ))
    except:
        cur.execute('''INSERT INTO Counts (org, count) VALUES (?,1)''', (org, ))
    conn.commit()
    
sqlstr='SELECT org, count FROM COUNTS ORDER BY count DESC LIMIT 10'
    
for row in cur.execute(sqlstr):
    print str(row[0]), row[1]
    
cur.close()

Enter file name: mbox.txt
iupui.edu 536
umich.edu 491
indiana.edu 178
caret.cam.ac.uk 157
vt.edu 110
uct.ac.za 96
media.berkeley.edu 56
ufp.pt 28
gmail.com 25
et.gatech.edu 17